Package: sixarm-debian-video-packages
Version: 1.0.0
Section: devel
Priority: optional
Architecture: all
Depends: ffmpeg, ffmpeg2theora, ffmpegthumbnailer, libavcodec-dev, libavformat-dev, libffmpegthumbnailer-dev, libffmpegthumbnailer4, libtheora-bin, libtheora-dev, libtheora-doc, libtheora0
Maintainer: Joel Parker Henderson <joel@sixarm.com>
Description: Video packages we like to use
 Video packages we like to use together.

